{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-around">
    <div class="d-flex align-items-start mb-3" style="margin-top: 15px; margin-left: 45px;">
        {% if product.image %}
        <img src="{{ product.image.url }}" class="rounded mx-auto d-block" style="height: 500px; weight: 500px"
             alt="{{ product.slug }}">
        {% else %}
        <img src="{% static 'images/No Product Image Available.png' %}" class="rounded mx-auto d-block"
             alt="{{ product.slug }}" style="height: 200px; weight: 200px">
        {% endif %}
        <div class="card-body" style="margin-left: 45px;">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">Price: {{ product.price }}₴</p>
            <p class="card-text"><small class="text-body-secondary">Quantity: {{ product.quantity }} </small></p>
            {% if not request.user.is_superuser and request.user.is_authenticated %}
            <form method="post" action={% url "create-purchase" product.slug %}>
                {% csrf_token %}
                {{ product_quantity }}
            <button type="submit" class="btn btn-primary">Buy</button>
            </form>
            {% endif %}

        </div>
    </div>
    <div class="w-auto p-3">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    </div>
</div>
{% endblock %}
