{% extends 'index.html' %}
{% load static %}

{% block content %}
{% for product in products%}
<div class="card" style="margin-top: 15px">
    <h5 class="card-header">{{ product.title }}</h5>
    <div class="card-body">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="rounded mx-auto d-block"
                         style="height: 200px; weight: 200px" alt="{{ item.product.slug }}">
                    {% else %}
                    <img src="{% static 'images/No ProductV Image Available.png' %}" class="rounded mx-auto d-block"
                         alt="{{ product.slug }}" style="height: 200px; weight: 200px">
                    {% endif %}
                </div>
                <div class="col">
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">Price: {{ product.price }}₴</p>
                    <p class="card-text">Quantity: {{ product.quantity }}</p>
                    <a href={% url "product_update" product.slug %} class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
